<div class="person_block">
    <div class="lines"></div>
    <div class="anikin"></div>
    <p data-i18n="advisor_AG_name" class="name">Ilya Anikin</p>
    <p data-i18n="advisor_AG_position" class="caption">ICO, Investment and Strategy Advisor</p>
    <div class="link_block">
        <a target="_blank" class="primary_link" href="https://www.linkedin.com/in/ilyaanikin/">Linkedin</a>
    </div>
    <p data-i18n="advisor_AG_about" id="advisors_text_5" class="body">
        Serial entrepreneur with 17 years of experience. Managing and Investment director of VC Funds Sferiq Venture Capital Fund
        and Imperious Group, which have total invested more than $200 millions in more than 30 companies.  8 years' professional
        investment banking experience. Carrying out a large number of investment deals, totalling more than $ 300 million.
    </p>
    <div class="link_block">
        <p data-i18n="more" id="advisors_text_open_5" class="secondary_link" data-advisors-text-open="5">more</p>
        <p data-i18n="close" id="advisors_text_close_5" class="secondary_link disnone" data-advisors-text-close="5">close</p>
    </div>
</div>
<div class="lines"></div>