<div class="person_block">
    <div class="lines"></div>
    <div class="averbach"></div>
    <p class="name">Michael Averbach</p>
    <p class="caption">Financial Advisor</p>
    <div class="link_block">
        <a target="_blank" class="primary_link" href="https://www.linkedin.com/in/michael-averbach-40720b/">Linkedin</a>
    </div>
    <p id="advisors_text_3" class="body">
        20+ years in IT-business, serial enterpreneur, investor. Key expertise: creation of business structures,
        marketing and sales strategies, creation of mobile applications and mobile devices, electronic commerce and corporate software,
        as well as management of software development process. Co-founded Ectaco, Inc., (USA) – a leading developer
        of electronic translators and linguistic solutions, where was managing the sales network, comprised of 13 foreign sales offices
        and dozens of independent distributors around the world. Was the founder of MobiDealer, Inc, (USA), where managed creation
        of distributed ERP system software package. After successful launch of the system, the company was sold to a strategic investor.
        Co-founded DynoPlex, Inc., (USA). Grew the company from ground up to one of the largest developers of mobile applications.
        Successfully sold the company and transitioned to manage offshore development for the purchaser, Quickoffice, Inc. (USA),
        where managed work of two offshore centers for mobile application development, totalling 140 engineers.
        Company was subsequent sold to Google in 2012. After sale of Quickoffice, started a venture fund RSV Venture Partners
        and serves as a managing partner of startup-accelerator iDealMachine, where invests in companies at the very early stage.
    </p>
    <div class="link_block">
        <p id="advisors_text_open_3" class="secondary_link" data-advisors-text-open="3">more</p>
        <p id="advisors_text_close_3" class="secondary_link disnone" data-advisors-text-close="3">close</p>
    </div>
</div>