<div class="person_block">
    <div class="lines"></div>
    <div class="aurel"></div>
    <p class="name">Proorocu Aurel George</p>
    <p class="caption">Marketing Advisor</p>
    <div class="link_block">
        <a target="_blank" class="primary_link" href="https://www.linkedin.com/in/aurelp">Linkedin</a>
    </div>
    <p id="advisors_text_2" class="body">
        Aurel was in 2016 one of Financial Times "100 Faces of Innovation" due to his contribution to the development
        of the Internet market in Romania. He has over 14 years experience in the IT and Digital marketing field,
        working for Companies like Google Enterprise, Orange and Keyence. Aurel is also the youngest graduate
        of the Executive MBA program of Telecom Ecole de Management Paris (Institut Mines Telecom).
    </p>
    <div class="link_block">
        <p id="advisors_text_open_2" class="secondary_link" data-advisors-text-open="2">more</p>
        <p id="advisors_text_close_2" class="secondary_link disnone" data-advisors-text-close="2">close</p>
    </div>
</div>
<div class="lines"></div>