<section id="advisors" class="dark">
    <div class="image">
        <div class="advisors"></div>
    </div>
    <h1 data-i18n="advisors" >advisors</h1>
    <div class="content">
        <div class="wrapper">
            <div class="person_list">
                {% include advisors_yannam.html %}
                {% include advisors_aurel.html %}
                {% include advisors_averbach.html %}
                {% include advisors_fradkov.html %}
            </div>
        </div>
    </div>
</section>