<section id="advisors">
    <div class="image">
        <div class="advisors"></div>
    </div>
    <h1 data-i18n="advisors" >advisors</h1>
    <div class="content">
        <div class="wrapper">
            <p class="section_description" data-i18n="advisors_sd">Any, even the strongest team always needs to be evaluated from outside. And here the best advisors help us, providing different competences for the project: from development and legal cases to marketing and business development.</p>
            <div class="person_list">
                {% include advisors_yannam.html %}
                {% include advisors_aurel.html %}
                {% include advisors_averbach.html %}
                {% include advisors_fradkov.html %}
            </div>
        </div>
    </div>
</section>