<div class="person_block">
    <div class="lines"></div>
    <div class="fradkov"></div>
    <p class="name">Sergey Fradkov</p>
    <p class="caption">Legal Advisor</p>
    <div class="link_block">
        <a target="_blank" class="primary_link" href="https://www.linkedin.com/in/sfradkov/">Linkedin</a>
    </div>
    <p id="advisors_text_4" class="body">
        Sergey Fradkov is an experienced software visionary and investor with extensive technical and business backgrounds.
        Mr. Fradkov is a founder of iDealMachine – an early stage venture fund and startup accelerator that operates in St. Petersburg,
        Russia and currently is expanding nationally and internationally. Prior to that, Mr. Fradkov was a founder of several high-tech startups.
        His most recent venture, DynoPlex, was sold to a competitor, Quickoffice, in 2008 and Quickoffice itself was acquired by Google in 2012.
        Prior to that Mr. Fradkov co-founded w-Trade, a pioneering Wireless Applications company, where he raised over $40Mln
        and built the product that was sold to large financial institutions, such as Merrill Lynch, Fidelity, Morgan Stanley and others.
        Overall, he has over 25 years of experience developing and designing distributed, wireless and ecommerce systems
        and managing large product development teams. Mr. Fradkov graduated from Jerusalem University.
    </p>
    <div class="link_block">
        <p id="advisors_text_open_4" class="secondary_link" data-advisors-text-open="4">more</p>
        <p id="advisors_text_close_4" class="secondary_link disnone" data-advisors-text-close="4">close</p>
    </div>
</div>