<div class="person_block">
    <div class="yannam"></div>
    <p data-i18n="advisor_NY_name" class="name">Naveen Yannam</p>
    <p data-i18n="advisor_NY_position" class="caption">Tech Advisor and early contributor</p>
    <div class="link_block">
        <a target="_blank" class="primary_link" href="https://www.linkedin.com/in/naveen-yannam-1553a91/">Linkedin</a>
    </div>
    <p data-i18n="advisor_NY_about" id="advisors_text_1" class="body">
        Naveen is a Certified Hybris 5 Core and Commerce Developer. He has extensive experience in using various frameworks
        and libraries to implement enterprise class applications. He’s also a keen proponent of Agile methodologies
        and has successfully exercised agile techniques into the projects which he was involved. Naveen feels comfortable
        in working as a Hybris Technical Lead, ideally in a project team developing large scale ecommerce systems
        with practising Continuous Integration and Delivery methodologies.
    </p>
    <div class="link_block">
        <p data-i18n="more" id="advisors_text_open_1" class="secondary_link" data-advisors-text-open="1">more</p>
        <p data-i18n="close" id="advisors_text_close_1" class="secondary_link disnone" data-advisors-text-close="1">close</p>
    </div>
</div>