<section id="contacts">
    <div class="image">
        <div class="contacts"></div>
    </div>
    <h1>contacts</h1>
    <div class="content center">
        <div class="wrapper">
            <div class="link_block black">
                <a class="secondary_link" href="mailto:info@elementh.io">info@elementh.io </a><span> - for general purposes</span>
            </div>
            <div class="link_block black">
                <a class="secondary_link" href="mailto:pr@elementh.io">pr@elementh.io </a><span> - for media purposes</span>
            </div>
            <div class="link_block black" style="margin-top: 16px">
                <a class="primary_link" href="/ico">ico</a>
                <a class="primary_link" href="/product">product</a>
                <a class="primary_link" href="/mvp">mvp</a>
                <a class="primary_link" href="https://github.com/ElementhFoundation/Documentation">whitepaper</a>
            </div>
            <div class="link_block black" style="margin-top: 16px">
                <a class="primary_link" href="https://t.me/elementh_community">telegram community</a>
            </div>
            {% include social_link.html %}
        </div>
    </div>
</section>