<section id="contacts">
    <div class="image">
        <div class="contacts"></div>
    </div>
    <h1 data-i18n="contacts">contacts</h1>
    <div class="content center">
        <div class="wrapper">
            <div class="link_block black">
                <a class="secondary_link" href="mailto:info@elementh.io">info@elementh.io </a><span data-i18n="contactsT1"> - for general purposes</span>
            </div>
            <div class="link_block black">
                <a class="secondary_link" href="mailto:pr@elementh.io">pr@elementh.io </a><span data-i18n="contactsT2"> - for media purposes</span>
            </div>
            <div class="link_block black" style="margin-top: 16px">
                <a class="primary_link" href="/" data-i18n="ICO">ico</a>
                <a class="primary_link" href="/product" data-i18n="product">product</a>
                <a class="primary_link" href="/mvp">mvp</a>
                <a target="_blank" class="primary_link" href="https://github.com/ElementhFoundation/Documentation/blob/master/ElementhWhitepaperEN_v.2.md" data-i18n="whitepaper">whitepaper</a>
            </div>
            <div class="link_block black" style="margin-top: 16px">
                <a target="_blank" class="primary_link" href="https://t.me/elementh_community" data-i18n="telegramCommunity">telegram community</a>
            </div>
            {% include social_link.html %}
        </div>
    </div>
    {% include footer.html %}
</section>