<section id="dapps">
    <div class="image">
        <div class="dapps"></div>
    </div>
    <h1 data-i18n="dapps" >dapps</h1>
    <div class="content">
        <div class="wrapper">
            <div class="text_block">
                <div class="block">
                    <p data-i18n="dappsH1" class="title">Decentralized marketplaces based on Elementh</p>
                    <p data-i18n="dappsT1" class="body">
                        Based on Elementh's blockchain any marketplace will be able to allow sellers to use existing merchandise cards
                        without creating new ones. Data on the ownership of the product will allow you to get rid of counterfeit products sold
                        through the marketplace. Unified merchandise cards will allow you to easily find the lowest price for any products.
                        At the same time, it becomes possible to pay using any crypto currency.
                    </p>
                </div>
                <div class="lines"></div>
                <div class="block">
                    <p data-i18n="dappsH2" сlass="title">Tracking the movement of goods</p>
                    <p data-i18n="dappsT2" class="body">
                        The complete producer - distributor - seller - buyer chain, stored in the Elementh blockchain, will allow to find suppliers
                        for any volume of products, up to direct order of goods from the manufacturer. We see it as the future of e-commerce.
                    </p>
                </div>
                <div class="lines"></div>
                <div class="block">
                    <p data-i18n="dappsH3" class="title">Search for goods by geolocation</p>
                    <p data-i18n="dappsT3" class="body">
                        Seller information available in the Elementh blockchain allows you to find the most convenient places of purchase for any item.
                    </p>
                </div>
                <div class="lines"></div>
                <div class="block">
                    <p data-i18n="dappsH4" class="title">Decentralized sending of messages</p>
                    <p data-i18n="dappsT4" class="body">
                        The ability to send messages allows you to contact directly with any participant in the transaction.
                        This will allow setting up exchange systems, bidding, obtaining individual purchase conditions and so on.
                    </p>
                </div>
                <div class="lines"></div>
                <div class="block">
                    <p data-i18n="dappsH5" class="title">Store designer</p>
                    <p data-i18n="dappsT5" class="body">
                        Having all the necessary data to set up a store, the system allows you to create individual decentralized showcases
                        for any vendor in the system.
                    </p>
                </div>
                <div class="lines"></div>
                <div class="block">
                    <p data-i18n="dappsH6" class="title">Fakes search</p>
                    <p data-i18n="dappsT6" class="body">
                        Data on all participants of the chain will allow to track the appearance of counterfeit products at any stage of the transfer of ownership of goods.
                    </p>
                </div>
                <div class="lines"></div>
                <div class="block">
                    <p data-i18n="dappsH7" class="title">Banking scoring</p>
                    <p data-i18n="dappsT7" class="body">
                        Access to data on all transactions of any participant of the system will allow instantaneous scoring of the seller,
                        which makes it possible to build credit and overdraft systems by the banking institutions.
                    </p>
                </div>
                <div class="lines"></div>
                <div class="block">
                    <p data-i18n="dappsH8" class="title">Different verticals</p>
                    <p data-i18n="dappsT8" class="body">
                        Elementh blockchain can be used by any service provider, for example, hotels or airlines with ticket,
                        coupon or voucher entity to store information and track ownership.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>