<section id="faq">
    <div class="image">
        <div class="faq"></div>
    </div>
    <h1 data-i18n="faq">faq</h1>
    <div class="content">
        <div class="wrapper">
            <div class="text_block">
                <div class="block">
                    <p class="title">Where are you incorporated?</p>
                    <p class="body">Our current business is in Russia and our Foundation will be incorporated in Switzerland or Gibraltar.</p>
                </div>
                <div class="lines"></div>
                <div class="block">
                    <p class="title">What blockchain do you use?</p>
                    <p class="body">For ICO we use Ethereum blockchain, but after ICO we'll develop our own blockchain Elementh and change ERC-20 tokens to Elementh tokens in Elementh blockchain.</p>
                </div>
                <div class="lines"></div>
                <div class="block">
                    <p class="title">Is your organization profit or non-profit?</p>
                    <p class="body">Elementh Foundation is non-profit organization.</p>
                </div>
                <div class="lines"></div>
                <div class="block">
                    <p class="title">How will your tokens be used?</p>
                    <p class="body">They will be used for all operations in Elementh blockchain (like ETH in Ethereum blockchain and EOS in EOS blockchain).</p>
                </div>
                <div class="lines"></div>
                <div class="block">
                    <p class="title">Do you have bounty or referral program?</p>
                    <p class="body">Bounty campaign and Airdrop is running, you can find all information in your profile at elementh.io</p>
                </div>
            </div>
        </div>
    </div>
</section>