<section id="faq">
    <div class="image">
        <div class="faq"></div>
    </div>
    <h1 data-i18n="faq">faq</h1>
    <div class="content">
        <div class="wrapper">
            <p class="section_description" data-i18n="faq_sd">If you have more questions, don't hesitate to contact us directly.</p>
            <div class="text_block">
                <div class="block">
                    <p data-i18n="faqQ1" class="title">Where are you incorporated?</p>
                    <p data-i18n="faqA1" class="body">Elementh is incorporated in Singapore.</p>
                </div>
                <div class="lines"></div>
                <div class="block">
                    <p data-i18n="faqQ2" class="title">What blockchain do you use?</p>
                    <p data-i18n="faqA2" class="body">For ICO we use Ethereum blockchain, but after ICO we'll develop our own blockchain Elementh and change ERC-20 tokens to Elementh tokens in Elementh blockchain.</p>
                </div>
                <div class="lines"></div>
                <div class="block">
                    <p data-i18n="faqQ3" class="title">Is your organization profit or non-profit?</p>
                    <p data-i18n="faqA3" class="body">Elementh Foundation is non-profit organization.</p>
                </div>
                <div class="lines"></div>
                <div class="block">
                    <p data-i18n="faqQ4" class="title">How will your tokens be used?</p>
                    <p data-i18n="faqA4" class="body">They will be used for all operations in Elementh blockchain (like ETH in Ethereum blockchain and EOS in EOS blockchain).</p>
                </div>
                <div class="lines"></div>
                <div class="block">
                    <p data-i18n="faqQ5" class="title">Do you have bounty or referral program?</p>
                    <p data-i18n="faqA5" class="body">Bounty campaign and Airdrop is running, you can find all information in your profile at elementh.io</p>
                </div>
            </div>
        </div>
    </div>
</section>