<footer>
    <p class="body">© 2017-2018 Elementh, All rights reserved.
        <a style="text-decoration: underline;" href="docs/ElementhTermOfWebsiteUse.pdf" target="_blank">Terms of website use</a>.
        <a style="text-decoration: underline;" href="docs/ElementhPrivacyPolicy.pdf" target="_blank">Privacy policy</a>.
        <a style="text-decoration: underline;" href="docs/ElementhKycAmlPolicy.pdf" target="_blank">KYC&AML policy</a>.
        <a style="text-decoration: underline;" href="docs/TokenSaleAgreement.pdf" target="_blank">Token sale agreement</a>.
    </p>
</footer>