<header>
    <a class="logo" href="/"></a>
    <ul>
        <li><i id="open_navigation" class="material-icons">menu</i></li>
        {% include langs.html %}
        <li><a href="/product" data-i18n="product" class="active">Product</a></li>
        <li><a href="/" data-i18n="ICO">ICO</a></li>
        <li><a target="_blank" href="https://github.com/ElementhFoundation/Documentation/blob/master/ElementhWhitepaperEN_v.2.md" data-i18n="whitepaper">Whitepaper</a></li>
        {% include userblock.html %}
    </ul>
</header>