<head>
    <title>Elementh ICO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700|Roboto+Mono&amp;subset=cyrillic">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    <link type="text/css" rel="stylesheet" media="screen,projection" href="/style/main.css?v=217">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}" />
    <meta property="og:title" content="Elementh Foundation">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
    <meta property="og:image" content="https://elementh.io/img/1200x630.jpg">
    <meta property="og:description" content="Elementh is a blockchain for e-commerce, which is a register of ownership of goods with the ability to write specialized smart contracts and use of the nomenclature standard to quickly create various decentralized and centralized applications for e-commerce.">
    <meta name="twitter:card" content="summary_large_image">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next/10.3.0/i18next.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next-xhr-backend/1.5.1/i18nextXHRBackend.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/i18next-browser-languagedetector/2.1.0/i18nextBrowserLanguageDetector.min.js" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-i18next/1.2.1/jquery-i18next.min.js" defer></script>
    <script src="{{ "js/initLangs.js" | relative_url }}" defer></script>
</head>