<header>
    <a class="logo" href="/"></a>
    <ul>
        <li><i id="open_navigation" class="material-icons">menu</i></li>
        <li class="buy_eee"><a target="_blank" href="https://bleutrade.com/exchange/EEE/BTC">BUY EEE</a></li>
        {% include langs.html %}
        <li class="header_nav"><a href="/product" data-i18n="product">Product</a></li>
        <li class="header_nav"><a href="/" class="active" data-i18n="ICO">ICO</a></li>
        <li class="header_nav"><a target="_blank" href="https://github.com/ElementhFoundation/Documentation/blob/master/ElementhWhitepaperEN_v.2.md" data-i18n="whitepaper">Whitepaper</a></li>
        {% include userblock.html %}
    </ul>
</header>