<head>
    <title>Elementh ICO</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:700|Roboto+Mono&amp;subset=cyrillic">
    <link rel="shortcut icon" type="image/x-icon" href="/img/favicon.png">
    <link type="text/css" rel="stylesheet" media="screen,projection" href="/style/main.css">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}" />
    <meta property="og:title" content="Elementh Foundation">
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | absolute_url }}">
    <meta property="og:image" content="https://elementh.io/img/1200x630.jpg">
    <meta property="og:description" content="Elementh is a blockchain for e-commerce, which is a register of ownership of goods with the ability to write specialized smart contracts and use of the nomenclature standard to quickly create various decentralized and centralized applications for e-commerce.">
    <meta name="twitter:card" content="summary_large_image">
</head>