<section id="intro">
    <!--<div class="image">
        <div class="intro"></div>
    </div>-->
    {% include video.html %}
    <div class="content center">
        <div class="wrapper">
            <p data-i18n="ico_description1" class="title active" style="margin-bottom: 16px;">Elementh is a blockchain infrastructure designed for e-commerce market!</p>
            <p data-i18n="ico_description2" style="margin-bottom: 16px;">
                Elementh provides all participants of e-commerce with real-time and historical data on stock inventory and price. It also allows to create various applications based on the Elementh blockchain.
            </p>
            <p data-i18n="ico_description2" style="margin-bottom: 16px;">
                Dear friends, we have successfully closed the ICO. The raised amount is 10206 ETH.<br/>
                Now our team will focus on the project development and partnerships.<br/>
                Follow us in the social media. <br/>
                Thank you very much for your support!
            </p>

            <form id="form_subscribe">
                <p class="title" style="margin-bottom: 8px;">Connect to the Elementh news flow!</p>
                <input id="email_subscribe" name="email" type="email" placeholder="Your Email" style="max-width: 472px;">
                <button id="btn_subscribe" class="primary_btn" type="submit">Subscribe</button>
            </form>
            <p id="success_subscribe" class="body green disnone" style="margin-bottom: 8px;">Thanks for joining us! You will get the hottest news soon!</p>
            <p id="error_subscribe" class="body red disnone" style="margin-bottom: 8px;">Oops, an error occurred. Enter the e-mail address one more time.</p>
            <!--<div class="link_block black">
                <a class="primary_link" data-i18n="join-airdrop" href="/profile">join airdrop</a>
                <a class="primary_link" data-i18n="join-bounty" href="/profile">join bounty</a>
            </div>-->
            {% include social_link.html %}
            <div style="margin-top: 16px;">
                <div class="fb-share-button" data-href="https://elementh.io" data-layout="button_count" data-size="large" style="top: -7px"></div>
                <a class="twitter-share-button"
                   href="https://twitter.com/share"
                   data-size="large"
                   data-text="Elementh Foundation ICO"
                   data-url="https://elementh.io"
                   data-hashtags="ico,blockchain,cryptocurrency,elementh"
                   data-related="twitterapi,twitter">
                    Tweet
                </a>
            </div>
        </div>
    </div>
</section>
