<section id="intro">
    <!--<div class="image">
        <div class="intro"></div>
    </div>-->
    {% include video.html %}
    <div class="content center">
        <div class="wrapper">
            <p data-i18n="ico_description1" class="title active">Elementh is a blockchain infrastructure designed for e-commerce market!</p>
            <p data-i18n="ico_description2">
                Elementh provides all participants of e-commerce market with real-time and historical data on stock inventory and price.It also allows to create decentralized and centralized applications based on the Elementh blockchain.
            </p>
            <!--
            {% include progressbar.html %}
            -->
            {% include timer.html %}
            <a class="primary_btn" data-i18n="join" href="/profile">Join Token Sale</a>
            <div class="link_block black">
                <a class="primary_link" data-i18n="join-airdrop" href="/profile">join airdrop</a>
                <a class="primary_link" data-i18n="join-bounty" href="/profile">join bounty</a>
            </div>
            {% include social_link.html %}
            <div style="margin-top: 16px;">
                <div class="fb-share-button" data-href="https://elementh.io" data-layout="button_count" data-size="large" style="top: -7px"></div>
                <a class="twitter-share-button"
                   href="https://twitter.com/share"
                   data-size="large"
                   data-text="Elementh Foundation ICO"
                   data-url="https://elementh.io"
                   data-hashtags="ico,blockchain,cryptocurrency,elementh"
                   data-related="twitterapi,twitter">
                    Tweet
                </a>
            </div>
        </div>
    </div>
</section>