<section id="intro">
    <div class="image">
        <div class="intro"></div>
    </div>
    <div class="content center">
        <div class="wrapper">
            <p data-i18n="product_description1" class="title active">Elementh is a blockchain infrastructure designed for e-commerce market!</p>
            <p data-i18n="product_description2" class="description" style="margin: 24px 0">
                Elementh provides all participants of e-commerce market with real-time and historical data on stock inventory and price.
                It also allows to create decentralized and centralized applications based on Elementh blockchain.
            </p>
            {% include social_link.html %}
            <div style="height: 32px;">
                <div class="fb-share-button" data-href="https://elementh.io" data-layout="button_count" data-size="large"></div>
                <a class="twitter-share-button"
                   style="vertical-align: bottom;"
                   href="https://twitter.com/share"
                   data-size="large"
                   data-text="Elementh Foundation ICO"
                   data-url="https://elementh.io"
                   data-hashtags="ico,blockchain,cryptocurrency,elementh"
                   data-related="twitterapi,twitter">
                    Tweet
                </a>
            </div>
        </div>
    </div>
</section>