<section id="intro">
    <!--<div class="image">
        <div class="intro"></div>
    </div>-->
    {% include video.html %}
    <div class="content center">
        <div class="wrapper">
            <p data-i18n="ico_description1" class="title active" style="margin-bottom: 16px;">Elementh</p>
            <p data-i18n="ico_description2" style="margin-bottom: 16px;">
                
                Dear friends,

Elementh company is forced to report that due to the state of the market, the company does not have enough funds to maintain all the necessary staff for developing and global marketing the product.

In this regard, we have decided to return funds to contributors. This process will be built as follows:
- you need to write an email to the refund@elementh.io with information about which wallet and what amount you funded in ICO Elementh.
- after this, ETH or BTC that you sent us will be returned to your wallet in the order of a live queue during this year.
- all EEE tokens will be burned on this wallet

P.S. Be careful, all official correspondence will be conducted only through the email refund@elementh.io
P.P.S. All official groups are now closed and available only for these announcements!
            </p>
          
       
        </div>
    </div>
</section>
