<section id="meetus" class="light">
    <div class="image">
        <div class="meetus"></div>
    </div>
    <h1>meet us at</h1>
    <div class="content">
        <div class="wrapper">
            <div class="rewards_list">
                <div class="rewards_block">
                    <div class="bef"></div>
                    <p data-i18n="reward8H" class="title">BLOCKCHAIN ECONOMIC FORUM</p>
                    <p data-i18n="reward8T" >Singapore. Feb 4-6, 2018</p>
                    <div class="link_block">
                        <a data-i18n="learnMore" class="secondary_link" target="_blank" href="http://bef.latoken.com/">Learn more</a>
                    </div>
                </div>
                <div class="rewards_block">
                    <div class="cc"></div>
                    <p data-i18n="reward7H" class="title">#cryptoconference 2018</p>
                    <p data-i18n="reward7T" >Almaty, Kazakhstan. Feb 16, 2018</p>
                    <div class="link_block">
                        <a data-i18n="learnMore" class="secondary_link" target="_blank" href="https://cryptoconf.su/almaty">Learn more</a>
                    </div>
                </div>
                <div class="rewards_block">
                    <div class="d10e"></div>
                    <p data-i18n="reward6H" class="title">The Leading Conference on Decentralization</p>
                    <p data-i18n="reward6T" >Seoul, South Korea. Mar 3-6, 2018</p>
                    <div class="link_block">
                        <a data-i18n="learnMore" class="secondary_link" target="_blank" href="http://d10e.biz/seoul-2018/">Learn more</a>
                    </div>
                </div>
                <div class="rewards_block">
                    <div class="d10e"></div>
                    <p data-i18n="reward5H" class="title">The Leading Conference on Decentralization</p>
                    <p data-i18n="reward5T" >Vilnius, Lithuania. Mar 24-27, 2018</p>
                    <div class="link_block">
                        <a data-i18n="learnMore" class="secondary_link" target="_blank" href="http://d10e.biz/vilnius-2018/">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>