<section id="mission">
    <div class="image">
        <div class="mission"></div>
    </div>
    <h1 data-i18n="mission">mission</h1>
    <div class="content center">
        <div class="wrapper">
            <div class="text_block">
                <div class="block">
                    <p class="body" data-i18n="missionT">
                        To make the e-commerce world better and simpler. To create a cornerstone standard to be used by the entire e-commerce market
                        in both B2C and B2B sectors. To aggregate all prices for all goods in one place.
                        To create the unified product classification standard and platform allowing quick setup and scaling of e-commerce projects.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>