<section id="mvp" class="light">
    <div class="image">
        <div class="mvp"></div>
    </div>
    <h1 data-i18n="mvpH" >mvp</h1>
    <div class="content center">
        <div class="wrapper">
            <p  data-i18n="mvpT1" class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
            <div class="link_block">
                <a data-i18n="mvpLink1"  class="secondary_link" target="_blank" href="/">Link 1</a>
                <a data-i18n="mvpLink2"  class="secondary_link" target="_blank" href="/">Link 2</a>
            </div>
            <p data-i18n="mvpT2"  class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
            <ul class="list">
                <li data-i18n="mvpList1" >Lorem ipsum dolor sit amet</li>
                <li data-i18n="mvpList2" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li data-i18n="mvpList3" >Aenean commodo ligula eget dolor.</li>
            </ul>
            <a class="primary_btn" href="/mvp">MVP</a>
        </div>
    </div>
</section>