<!--
<section id="mvp" class="light">
    <div class="image">
        <div class="mvp"></div>
    </div>
    <h1 data-i18n="mvpH" >mvp</h1>
    <div class="content center">
        <div class="wrapper">
            <p  data-i18n="mvpT1" class="body">Here you can take a look at our MVP. It includes:</p>
            <ul class="list">
                <li data-i18n="mvpList1" >database with over 1M goods from several product categories;</li>
                <li data-i18n="mvpList2" >product api in the format of search for products from our database;</li>
                <li data-i18n="mvpList3" >product restful api which can be used by different e-commerce businesses: from online stores to marketplaces (in particular, api documentation is given, you can connect to product api right now);</li>
                <li data-i18n="mvpList4" >you can take a look at a chain of transfer of ownership of a certain product;</li>
                <li data-i18n="mvpList5" >any business can upload a price list into our system, all of the system participants will see it in the restful api.</li>
            </ul>
            <a class="primary_btn" href="/mvp">MVP</a>
        </div>
    </div>
</section>
-->