<section id="mvp" class="light">
    <div class="image">
        <div class="mvp"></div>
    </div>
    <h1>mvp</h1>
    <div class="content center">
        <div class="wrapper">
            <p class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
            <div class="link_block">
                <a class="secondary_link" target="_blank" href="/">Link 1</a>
                <a class="secondary_link" target="_blank" href="/">Link 2</a>
            </div>
            <p class="body">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
            <ul class="list">
                <li>Lorem ipsum dolor sit amet</li>
                <li>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.</li>
                <li>Aenean commodo ligula eget dolor.</li>
            </ul>
        </div>
    </div>
</section>