<nav id="nav">
    <i id="close_navigation" class="material-icons close">close</i>
    <ul>
        <li class="subhead">navigation</li>
        <li class="devider"></li>
        {% include langs.html %}
        {% include userblock.html %}
        <li id="to_intro" class="active" data-i18n="navigation">intro</li>
        <li id="to_features" data-i18n="features">features</li>
        <li id="to_cases" data-i18n="cases">cases</li>
        <li id="to_dapps">dapps</li>
        <li id="to_mission" data-i18n="mission">mission</li>
        <li id="to_partners" data-i18n="partners">partners</li>
        <li id="to_mvp">MVP</li>
        <!--<li id="to_faq">FAQ</li>-->
        <li id="to_contacts" data-i18n="contacts">contacts</li>
    </ul>
</nav>