<nav id="nav">
    <i id="close_navigation" class="material-icons close">close</i>
    <ul>
        <li class="subhead">navigation</li>
        <li class="devider"></li>
        {% include userblock.html %}
        <li id="to_intro">intro</li>
        <li id="to_rating">rating</li>
        <li id="to_partners">partners</li>
        <li id="to_rewards">rewards</li>
        <li id="to_mvp">MVP</li>
        <li id="to_roadmap">roadmap</li>
        <li id="to_team">team</li>
        <li id="to_advisors">advisors</li>
    </ul>
</nav>