<section id="partners">
    <div class="image">
        <div class="partners"></div>
    </div>
    <h1 data-i18n="partnersH" >partners</h1>
    <div class="content center">
        <div class="wrapper">
            <p class="section_description" data-i18n="partners_sd">Not a single warrior is able to win a war on his own. That’s why we work with the e-commerce top companies  and partner with them. For example, partnership of Elementh with SAP Hybris opens doors to the biggest retailers all over the world.</p>
            <div class="partners_list">
                <div class="partners_block">
                    <a target="_blank" class="sap" href="https://www.hybris.com/"></a>
                    <p data-i18n="partner_sap" >Engage, simplify and innovate</p>
                </div>
                <div class="partners_block">
                    <a target="_blank" class="sberbank" href="https://www.sberbank-ast.eu/"></a>
                    <p data-i18n="partner_sberbank" >Electronic trading platform</p>
                </div>
                <div class="partners_block">
                    <a target="_blank" class="gmtlegal" href="https://ru-ru.facebook.com/GMTLegal/"></a>
                    <p data-i18n="partner_gmtlegal" >Legal Partner</p>
                </div>
                <div class="partners_block">
                    <a target="_blank" class="bitrewards" href="https://bitrewards.network/"></a>
                    <p data-i18n="partner_bitrewards" >Blockchain rewards and loyalty platform</p>
                </div>
                <div class="partners_block">
                    <a target="_blank" class="bancor" href="https://www.bancor.network/"></a>
                    <p data-i18n="partner_bitrewards" >Bancor is a decentralized liquidity network</p>
                </div>
            </div>
        </div>
    </div>
</section>