<section id="partners" class="light">
    <div class="image">
        <div class="partners"></div>
    </div>
    <h1>partners</h1>
    <div class="content center">
        <div class="wrapper">
            <div class="partners_list">
                <div class="partners_block">
                    <a target="_blank" class="sap" href="https://www.hybris.com/"></a>
                    <p>Engage, simplify and innovate</p>
                </div>
                <div class="partners_block">
                    <a target="_blank" class="sberbank" href="https://www.sberbank-ast.eu/"></a>
                    <p>Electronic trading platform</p>
                </div>
                <div class="partners_block">
                    <a target="_blank" class="gmtlegal" href="https://ru-ru.facebook.com/GMTLegal/"></a>
                    <p>Legal Partner</p>
                </div>
                <div class="partners_block">
                    <a target="_blank" class="bitrewards" href="https://bitrewards.network/"></a>
                    <p>Blockchain rewards and loyalty platform</p>
                </div>
            </div>
        </div>
    </div>
</section>