<div class="progressbar">
    <div class="progress_line">
        <div class="progress_line_softcap" data-i18n="Softcap">SoftCap</div>
        <div class="progress_line_hardcap" data-i18n="Hardcap">HardCap</div>
        <div class="progress_line_current" style="width: 3%"></div>
    </div>
    <div class="progress_row">
        <p class="progress_row_name" data-i18n="Current">Current</p>
        <p class="progress_row_info">900 ETH</p>
        <p class="progress_row_plus">+</p>
    </div>
    <div class="progress_row">
        <p class="progress_row_info">13 BTC</p>
    </div>
    <div class="progress_row">
        <p class="progress_row_name" data-i18n="softcap">SoftCap</p>
        <p class="progress_row_info">10000 ETH</p>
    </div>
    <div class="progress_row">
        <p class="progress_row_name" data-i18n="hardcap">HardCap</p>
        <p class="progress_row_info">30000 ETH</p>
    </div>
</div>