<section id="rating" class="dark">
    <div class="image">
        <div class="rating"></div>
    </div>
    <h1>rating</h1>
    <div class="content center">
        <div class="wrapper">
            <div class="rating_block">
                <a target="_blank" href="https://foxico.io/project/elementh">
                    <div class="foxico"></div>
                    <p class="body">Rating:</p>
                    <p class="title">9 / 10</p>
                </a>
                <a target="_blank" href="https://www.trackico.io/ico/elementh/">
                    <div class="trackico"></div>
                    <p class="body">Rating:</p>
                    <p class="title">5 / 5</p>
                </a>
                <a target="_blank" href="https://icomarks.com/ico/elementh">
                    <div class="icomarks"></div>
                    <p class="body">Rating:</p>
                    <p class="title">8.7 / 10</p>
                </a>
                <a target="_blank" href="https://foundico.com/ico/elementh.html">
                    <div class="foundico"></div>
                    <p class="body">Rating:</p>
                    <p class="title">8.4 / 10</p>
                </a>
                <a target="_blank" href="https://wiserico.com/ico/elementh">
                    <div class="wiserico"></div>
                    <p class="body">Rating:</p>
                    <p class="title">4.9 / 5</p>
                </a>
            </div>
        </div>
    </div>
</section>