<section id="rewards" class="dark">
    <div class="image">
        <div class="rewards"></div>
    </div>
    <h1>rewards</h1>
    <div class="content">
        <div class="wrapper">
            <div class="rewards_list">
                <div class="rewards_block">
                    <div class="winner"></div>
                    <p data-i18n="reward8H" class="title">Startup of the year 2013  from  Higher School of Economics</p>
                    <p data-i18n="reward8T" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="link_block">
                        <a data-i18n="learnMore" class="secondary_link" target="_blank" href="http://award.inc.hse.ru/">Learn more</a>
                    </div>
                </div>
                <div class="rewards_block">
                    <div class="winner"></div>
                    <p data-i18n="reward7H" class="title">IT-Startup Eurasia</p>
                    <p data-i18n="reward7T" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="link_block">
                        <a data-i18n="learnMore" class="secondary_link" target="_blank" href="https://kontur.ru/press/news/company/2013/4/1874">Learn more</a>
                    </div>
                </div>
                <div class="rewards_block">
                    <div class="winner"></div>
                    <p data-i18n="reward6H" class="title">CloudsNN</p>
                    <p data-i18n="reward6T" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="link_block">
                        <a data-i18n="learnMore" class="secondary_link" target="_blank" href="https://it-events.com/events/1254">Learn more</a>
                    </div>
                </div>
                <div class="rewards_block">
                    <div class="winner"></div>
                    <p data-i18n="reward5H" class="title">StartupCup</p>
                    <p data-i18n="reward5T" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="link_block">
                        <a data-i18n="learnMore" class="secondary_link" target="_blank" href="http://startupcup.ru/">Learn more</a>
                    </div>
                </div>
                <div class="rewards_block">
                    <div class="finalist"></div>
                    <p data-i18n="reward4H" class="title">WebReady</p>
                    <p data-i18n="reward4T" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="link_block">
                        <a data-i18n="learnMore" class="secondary_link" target="_blank" href="http://www.gotech.vc/novosti/novosti_gotech/webready_stal_gotech/">Learn more</a>
                    </div>
                </div>
                <div class="rewards_block">
                    <div class="finalist"></div>
                    <p data-i18n="reward3H" class="title">MABA</p>
                    <p data-i18n="reward3T" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="link_block">
                        <a data-i18n="learnMore" class="secondary_link" target="_blank" href="http://www.mabaspb.ru">Learn more</a>
                    </div>
                </div>
                <div class="rewards_block">
                    <div class="finalist"></div>
                    <p data-i18n="reward2H" class="title">VC Day Ingria</p>
                    <p data-i18n="reward2T" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="link_block">
                        <a data-i18n="learnMore" class="secondary_link" target="_blank" href="http://www.ingria-startup.ru/events_it/calendar/vc_day_2017">Learn more</a>
                    </div>
                </div>
                <div class="rewards_block">
                    <div class="finalist"></div>
                    <p data-i18n="reward1H" class="title">Zvorykin Prize</p>
                    <p data-i18n="reward1T" >Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</p>
                    <div class="link_block">
                        <a data-i18n="learnMore" class="secondary_link" target="_blank" href="http://www.rsci.ru/grants/grant_news/284/234453.php">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>