<section id="rewards" class="dark">
    <div class="image">
        <div class="rewards"></div>
    </div>
    <h1>rewards</h1>
    <div class="content">
        <div class="wrapper">
            <div class="rewards_list">
                <div class="rewards_block">
                    <div class="winner"></div>
                    <p class="title">Startup of the year 2013  from  Higher School of Economics</p>
                    <p>In 2013 Miiix won the title of the best Internet startup of the year by the version of the Higher School of Economics.</p>
                    <div class="link_block">
                        <a class="secondary_link" target="_blank" href="https://www.hse.ru/news/life/106177813.html">Learn more</a>
                    </div>
                </div>
                <div class="rewards_block">
                    <div class="winner"></div>
                    <p class="title">IT-Startup Eurasia</p>
                    <p>The Miiix project from the Northern Capital took first place in the IT-Startup EURASIA 2013.</p>
                    <div class="link_block">
                        <a class="secondary_link" target="_blank" href="http://it-eburg.com/text/article/it_startup_eurasia_2013_vyigrali_pitercy_i_omichi/">Learn more</a>
                    </div>
                </div>
                <div class="rewards_block">
                    <div class="winner"></div>
                    <p class="title">CloudsNN</p>
                    <p>Miiix is one of the winners of CloudsNN-2013!</p>
                    <div class="link_block">
                        <a class="secondary_link" target="_blank" href="https://www.inoventica.ru/press-tsentr/news/205/">Learn more</a>
                    </div>
                </div>
                <div class="rewards_block">
                    <div class="winner"></div>
                    <p class="title">StartupCup</p>
                    <p>Miiix won StartUp Cup, which was created in 2007 in the US by successful entrepreneur Sean Griffin.</p>
                    <div class="link_block">
                        <a class="secondary_link" target="_blank" href="http://startupcup.ru/">Learn more</a>
                    </div>
                </div>
                <div class="rewards_block">
                    <div class="finalist"></div>
                    <p class="title">WebReady</p>
                    <p>Web Ready was one of the biggest business-integrators.</p>
                    <div class="link_block">
                        <a class="secondary_link" target="_blank" href="http://www.gotech.vc/novosti/novosti_gotech/webready_stal_gotech/">Learn more</a>
                    </div>
                </div>
                <div class="rewards_block">
                    <div class="finalist"></div>
                    <p class="title">MABA</p>
                    <p>International Assembly of Business Angels.</p>
                    <div class="link_block">
                        <a class="secondary_link" target="_blank" href="http://www.mabaspb.ru">Learn more</a>
                    </div>
                </div>
                <div class="rewards_block">
                    <div class="finalist"></div>
                    <p class="title">VC Day Ingria</p>
                    <p>Investment session VC DAY INGRIA it 2016.</p>
                    <div class="link_block">
                        <a class="secondary_link" target="_blank" href="http://www.ingria-startup.ru/events_it/calendar/vc_day_2017">Learn more</a>
                    </div>
                </div>
                <div class="rewards_block">
                    <div class="finalist"></div>
                    <p class="title">Zvorykin Prize</p>
                    <p>National Innovation Award for Young Scientists and Specialists.</p>
                    <div class="link_block">
                        <a class="secondary_link" target="_blank" href="http://www.rsci.ru/grants/grant_news/284/234453.php">Learn more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>