<section id="roadmap">
    <div class="image">
        <div class="roadmap"></div>
    </div>
    <h1 data-i18n="roadmapH">roadmap</h1>
    <div class="content">
        <div class="wrapper">
            <div class="roadmap_list">
                <div class="roadmap_block">
                    <div class="timeline past">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">2012</p>
                        <p data-i18n="rm1T" class="body">MIIIX company establishment</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline past">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">2012</p>
                        <p data-i18n="rm2T" class="body">Investments from RSV Venture Partners and business angels</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline past">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">2014</p>
                        <p data-i18n="rm3T" class="body">Number of product categories is 1000</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline past">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">2016</p>
                        <p data-i18n="rm4T" class="body">
                            In the MIIIX database there are 70 mln SKU in 30,000 product categories, 1000 shops from different industries,
                            clients from small shops to the most largest portals in the field of e-commerce (Sberbank AST)
                        </p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline past">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">2017</p>
                        <p data-i18n="rm5T"  class="body">The transition to the blockchain technology with introduction of opensource project Elementh</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline past">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p data-i18n="rm6D" class="date">January 2018</p>
                        <p  data-i18n="rm6H" class="title">Pre-SALE (15.01 - 31.01)</p>
                        <ul class="list">
                            <li data-i18n="rm6T1" >Only whitelist;</li>
                            <li data-i18n="rm6T2" >Min. 10ETH or 1BTC;</li>
                            <li data-i18n="rm6T3" >Max. 100 purchasers.</li>
                        </ul>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline past">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p data-i18n="rm6D" class="date">February 2018</p>
                        <p data-i18n="rm7H" class="title">Pre-ICO (01.02 - 14.02)</p>
                        <ul class="list">
                            <li data-i18n="rm7T1" >1EEE = 0.0001ETH;</li>
                            <li data-i18n="rm7T2" >Min. 1ETH or 0.1BTC;</li>
                            <li data-i18n="rm7T3" >Max. 1000 purchasers.</li>
                        </ul>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p data-i18n="rm8D" class="date">March 2018</p>
                        <p data-i18n="rm8H" class="title">Pre-FUND (15.02 - 31.03)</p>
                        <ul class="list">
                            <li data-i18n="rm8T1" >1EEE = 0.0002ETH;</li>
                            <li data-i18n="rm8T2">Pre-Fund BONUS: 30%</li>
                        </ul>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p data-i18n="rm9D" class="date">April 2018</p>
                        <p data-i18n="rm9H" class="title">ICO (01.04 - 30.04)</p>
                        <ul class="list">
                            <li data-i18n="rm9T1">1EEE = 0.0002ETH;</li>
                            <li data-i18n="rm9T2">First day BONUS: 30%;</li>
                            <li data-i18n="rm9T3">Second day BONUS: 15%</li>
                        </ul>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p data-i18n="rm10D" class="date">June 2018</p>
                        <p data-i18n="rm10H" class="title">Blockchain Basis Layer (Alpha)</p>
                        <p data-i18n="rm10T" class="body">EAS, ESCS(g), EIPC, EESN</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p data-i18n="rm11D" class="date">August 2018</p>
                        <p data-i18n="rm11H" class="title">Blockchain Abstract Layer (v_0.1)</p>
                        <p data-i18n="rm11T" class="body">ESCS(u), EOTS, ESNS, EPS</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p data-i18n="rm12D" class="date">October 2018</p>
                        <p data-i18n="rm12H" class="title">Blockchain Abstract Layer (v_0.2)</p>
                        <p data-i18n="rm12T" class="body">ESNS, EANS, EPCM, ESS (Test Net)</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p data-i18n="rm13D" class="date">December 2018</p>
                        <p data-i18n="rm13H" class="title">Wallets and Blockchain explorer (Release)</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p data-i18n="rm16D" class="date">February 2019</p>
                        <p data-i18n="rm16H" class="title">API</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p data-i18n="rm14D" class="date">March 2019</p>
                        <p data-i18n="rm14H" class="title">Master Nodes</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                    </div>
                    <div class="roadmap_info">
                        <p data-i18n="rm15D" class="date">March 2019</p>
                        <p data-i18n="rm15H" class="title">DAPPs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>