<section id="roadmap" class="dark">
    <div class="image">
        <div class="roadmap"></div>
    </div>
    <h1>roadmap</h1>
    <div class="content">
        <div class="wrapper">
            <div class="roadmap_list">
                <div class="roadmap_block">
                    <div class="timeline past">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">2012</p>
                        <p class="body">MIIIX company establishment</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline past">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">2012</p>
                        <p class="body">Investments from RSV Venture Partners and business angels</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline past">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">2014</p>
                        <p class="body">Number of product categories is 1000</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline past">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">2016</p>
                        <p class="body">
                            In the MIIIX database there are 70 mln SKU in 30,000 product categories, 1000 shops from different industries,
                            clients from small shops to the most largest portals in the field of e-commerce (Sberbank AST)
                        </p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline past">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">2017</p>
                        <p class="body">The transition to the blockchain technology with introduction of opensource project Elementh</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline past">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">January 2018</p>
                        <p class="title">Pre-SALE (15.01 - 31.01)</p>
                        <ul class="list">
                            <li>Only whitelist;</li>
                            <li>Min. 10ETH or 1BTC;</li>
                            <li>Max. 100 purchasers.</li>
                        </ul>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline past">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">February 2018</p>
                        <p class="title">Pre-ICO (01.02 - 14.02)</p>
                        <ul class="list">
                            <li>1EEE = 0.0001ETH;</li>
                            <li>Min. 1ETH or 0.1BTC;</li>
                            <li>Max. 1000 purchasers.</li>
                        </ul>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">Mart 2018</p>
                        <p class="title">Pre-FUND (15.02 - 31.03)</p>
                        <ul class="list">
                            <li>1EEE = 0.0002ETH;</li>
                            <li>Pre-Fund BONUS: 30%</li>
                        </ul>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">April 2018</p>
                        <p class="title">ICO (01.04 - 30.04)</p>
                        <ul class="list">
                            <li>1EEE = 0.0002ETH;</li>
                            <li>First day BONUS: 30%;</li>
                            <li>Second day BONUS: 15%</li>
                        </ul>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">June 2018</p>
                        <p class="title">Blockchain Basis Layer (Alpha)</p>
                        <p class="body">EAS, ESCS(g), EIPC, EESN</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">August 2018</p>
                        <p class="title">Blockchain Abstract Layer (v_0.1)</p>
                        <p class="body">ESCS(u), EOTS, ESNS, EPS</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">October 2018</p>
                        <p class="title">Blockchain Abstract Layer (v_0.2)</p>
                        <p class="body">ESNS, EANS, EPCM, ESS (Test Net)</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">December 2018</p>
                        <p class="title">Wallets and Blockchain explorer (Release)</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">February 2019</p>
                        <p class="title">API</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                        <div class="line"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">Mart 2019</p>
                        <p class="title">Master Nodes</p>
                    </div>
                </div>
                <div class="roadmap_block">
                    <div class="timeline">
                        <div class="circle"></div>
                    </div>
                    <div class="roadmap_info">
                        <p class="date">Mart 2019</p>
                        <p class="title">DAPPs</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>