<div class="link_block">
    <a target="_blank" class="telegram"     href="https://t.me/elementh_community"></a>
    <a target="_blank" class="facebook"     href="https://www.facebook.com/Elementh-1371154296341075/"></a>
    <a target="_blank" class="twitter"      href="https://twitter.com/Ahooleeman"></a>
    <a target="_blank" class="bitcointalk"  href="https://bitcointalk.org/index.php?topic=2590603.new#new"></a>
    <a target="_blank" class="bounty"       href="https://bitcointalk.org/index.php?topic=2899838.0"></a>
    <a target="_blank" class="instagram"    href="https://www.instagram.com/elementhio"></a>
    <a target="_blank" class="reddit"       href="https://www.reddit.com/r/Elementh/"></a>
    <a target="_blank" class="steemit"      href="https://steemit.com/@ahooleeman"></a>
    <a target="_blank" class="medium"       href="https://medium.com/@sergeyryabov_676"></a>
    <a target="_blank" class="youtube"      href="https://www.youtube.com/channel/UCNoPrTYvQvu31ISDeUhxS3Q"></a>
    <a target="_blank" class="github"       href="https://github.com/ElementhFoundation"></a>
</div>