<div id="tabs_container_airdrop" class="tabs_container">
    <p class="title">Airdrop</p>
    <div id="how_to_airdrop">
        <p class="description">Welcome to Elementh Airdrop!</p>
        <p class="body">To join Elementh Airdrop you need to:</p>
        <ul class="list">
            <li>Click "Join Elementh Airdrop on Telegram" button (this will open the bot conversation on your Telegram application/web version);</li>
            <li>You need to click "Start" button in the Telegram application/web version itself (this will show you Elementh Telegram Community link);</li>
            <li>Click Elementh Telegram Community link in the Telegram application/web version and join us on Telegram.</li>
        </ul>
        <a id="airdrop_join_telegram" class="primary_btn" target="_blank" href="/">Join Elementh Airdrop on Telegram</a>
        <p class="body">You can participate in Elementh Airdrop until the end of Elementh ICO.</p>
        <div id="airdrop_check" class="secondary_link blue pointer">Check your Airdrop status</div>
    </div>
    <div id="airdrop_yes" class="disnone">
        <p class="title blue">Congratulations! Now you are a participant of Elementh Airdrop Campaign!</p>
        <p class="body">
            Earn 1 extra stake for each of your referrals!<br>
            You can increase your the number of your tokens by total of 20x by adding 19 more referrals. They have to join
            Elementh Airdrop and participate untill the end of Airdrop.<br>
            Fake users and fraud attempts is strictly prohibited. Posting your referral link in our Telegram Community
            is not allowed. You may lose your entire airdrop tokens if you are found to have engaged in any fraudulent
            behaviour.
        </p>
        <p class="description">Here is your unique referral link, you can use it or use the social buttons to share.</p>
        <div class="data">
            <div class="data_name">Copy your unique link below to share:</div>
            <div class="data_user">
                <form id="unique_airdrop_link_copy_form">
                    <input id="unique_airdrop_link_input" name="unique_airdrop_link" type="text" value="" readonly>
                    <span id="punique_airdrop_link_copy" class="copy data_btn" data-clipboard-target="#unique_airdrop_link_input">Copy</span>
                    <span id="unique_airdrop_link_copied" class="green data_btn disnone">Copied</span>
                </form>
            </div>
        </div>
        <p class="title">Stats:</p>
        <p class="body">Now you have <span id="user_referral_airdrop_count" class="blue"></span> stake(s) including yourself. You can still make more referrals!</p>
    </div>
    <div id="airdrop_no" class="disnone">
        <p class="description red">Currently, you are not a participant of Elementh Airdrop, to participate you need to:</p>
        <ul class="list red">
            <li>Join Elementh Community by clicking "Join Elementh Airdrop on Telegram";</li>
            <li>Verify your Telegram ID;</li>
            <li>Fill your Ethereum wallet address.</li>
        </ul>
    </div>
</div>