<div id="tabs_container_contribute" class="tabs_container">
    <p class="title" data-i18n="ICO">ICO</p>
    {% include transaction.html %}
    <div id="kyc" class="disnone"></div>
    <form id="kyc_form" class="disnone">
        <p class="description" data-i18n="contribute1T">Verify your identity to participate in the Elementh token sale. Please, prepare the following documents for KYC, you have only 30 mins to end your KYC after you click the button:</p>
        <p class="title" data-i18n="contribute2T">Proof of Identity</p>
        <p class="body"  data-i18n="contribute3T">You can send us these type of documents scanned or photographed from both sides:</p>
        <ul class="list">
            <li data-i18n="contribute4T">International Passport;</li>
            <li data-i18n="contribute5T">Driver license;</li>
            <li  data-i18n="contribute6T">ID card.</li>
        </ul>
        <p class="title" data-i18n="contribute7T">Selfie</p>
        <p class="body" data-i18n="contribute8T">It is necessary to upload a selfie, a photo of you holding your ID document.</p>
        <p class="title" data-i18n="contribute9T">Proof of address</p>
        <p class="body"  data-i18n="contribute10T">Proof of residence. It may be one of these documents: Utility Bill, Bank statement, Credit card statement, Tax invoices, Other government issued residential statements/certificates. The document should contain the full user name and address.</p>
        <button class="primary_btn" type="submit" form="kyc_form" data-i18n="START KYC">START KYC</button>
        <button id="ignore_kyc_btn" class="primary_btn" style="background-color: #757575" type="button" form="kyc_form" data-i18n="IGNORE_KYC">Don't want to process KYC</button>
        <div id="ignore_kyc_div" class="disnone">
            <p class="description red">If you don't want to pass KYC, you can invest directly, but you should agree with this disclaimer.
            In case of a demand by a regulatory authority or bank, we can find ourselves in a situation when we should refund all investments made without KYC. So if you didn't pass KYC, probably, you will get a refund and your tokens will be burned, or you shall pass KYC later if you want to avoid such situation.
            </p>
            <div class="link_block black">
                <div id="ignore_kyc_ok" class="primary_link" data-i18n="I Agree">I Agree</div>
            </div>
        </div>
    </form>
    <div id="forAdopters" class="data_block disnone">
        <div class="data">
            <div class="data_name" data-i18n="contribute12T">At ICO stage you will receive:</div>
            <div class="data_user">
                <span id="user_token_ico" data-i18n="loading">loading...</span>
            </div>
        </div>
        <div class="data">
            <div class="data_name">&nbsp;</div>
            <div class="data_user">
                <span class="link_block">
                    <a id="howToWatchEEE" class="link disnone" target="_blank" href="https://drive.google.com/file/d/1bBSg8Id0cQesx1LuaAKiq7Usnzh4KQK7/view" data-i18n="howToWatchEEE">How to watch EEE in your wallet</a>
                </span>
            </div>
        </div>
    </div>
</div>