<div id="tabs_container_bounty" class="tabs_container">
    <p class="title" data-i18n="bounty">Bounty</p>
    <p class="description" data-i18n="bountyH">Welcome to Elementh Bounty Campaign!</p>
    <div class="link_block">
        <a class="link" target="_blank" href="https://bitcointalk.org/index.php?topic=2899838.0" data-i18n="bounty1T">Learn all information about Elementh Bounty Campaign here</a>
    </div>
    <p class="description" data-i18n="bounty2T">To participate in Elementh Bounty Campaign you need to:</p>
    <div class="link_block">
        <a class="link" id="bounty_join_telegram" href="https://t.me/Elementh_community" target="_blank" data-i18n="bounty3T">Join Elementh Community on Telegram</a>
        <span data-i18n="and">and</span>
        <a class="link" id="bounty_join_bounty_telegram" href="https://t.me/ElementhBounty" target="_blank" data-i18n="bounty4T">Join Elementh Bounty Campaign Telegram</a>
    </div>
</div>