<div id="tabs_container_referral" class="tabs_container">
    <p class="title">Referral</p>
    <p class="description">Welcome to Elementh Referral Program!</p>
    <p class="body">
        You can earn ETH/BTC by attracting more contributors using your unique referral link.<br>
        You'll receive 5% of your referrals purchase amount in ETH/BTC after the end of ICO.
    </p>
    <div class="data_block">
        <div class="data">
            <div class="data_name">Here is your referral link:</div>
            <div class="data_user">
                <form id="unique_referral_link_copy_form">
                    <input id="unique_referral_link_input" name="unique_referral_link" type="text" value="" readonly>
                    <span id="unique_referral_link_copy" class="copy data_btn" data-clipboard-target="#unique_referral_link_input">Copy</span>
                    <span id="unique_referral_link_copied" class="green data_btn disnone">Copied</span>
                </form>
            </div>
        </div>
        <p class="title">Stats:</p>
        <div class="data">
            <div class="data_name">Total referrals:</div>
            <div class="data_user">
                <span id="user_referral_count">None</span>
            </div>
        </div>
        <div class="data">
            <div class="data_name">After ICO stage you will receive:</div>
            <div class="data_user">
                <span id="user_referral_balance">None</span>
            </div>
        </div>
    </div>
</div>