<div class="person_block">
    <div class="lines"></div>
    <div class="bereznitskiy"></div>
    <p class="name">Dmitriy Bereznitskiy</p>
    <p class="caption">CTO</p>
    <div class="link_block">
        <a target="_blank" class="primary_link" href="https://www.linkedin.com/in/bdmitry">Linkedin</a>
    </div>
    <p id="team_text_2" class="body">
        Evangelist of Agile methodology, Lean Startup and Theory of Constraints, the technical director and partner of Miiix and Smallhorse projects. His experience in commercial web development exceeds 15 years! Dmitriy devoted 10 years to e-commerce and 7 to managing development teams. By the same token...Did you know that he had a hand in attracting traffic to Amazon by developing a system of affiliated stores?
    </p>
    <div class="link_block">
        <p id="team_text_open_2" class="secondary_link" data-team-text-open="2">more</p>
        <p id="team_text_close_2" class="secondary_link disnone" data-team-text-close="2">close</p>
    </div>
</div>