<section id="team">
    <div class="image">
        <div class="team"></div>
    </div>
    <h1 data-i18n="team">team</h1>
    <div class="content">
        <div class="wrapper">
            <p data-i18n="team-description" class="description">
                Team of the project consist of 17 members three of which are founders, they have been working together for years,which is a bright spot of the project. Founders have great experience in the field of e-commercewhich is the target field of Elementh project, their experience is not limited to Miiix, earlier, they had also developed a platform for vending unsaleable stocks from retailers and some other products.
            </p>
            <div class="person_list">
                {% include team_ryabov.html %}
                {% include team_bereznitskiy.html %}
                {% include team_mengeshev.html %}
                {% include team_kirillov.html %}
                {% include team_vasilev.html %}
                {% include team_morozov.html %}
                {% include team_prigornitskiy.html %}
                {% include team_gashitsky.html %}
                {% include team_kholodnykh.html %}
            </div>
        </div>
    </div>
</section>