<div class="person_block">
    <div class="lines"></div>
    <div class="bruk"></div>
    <p data-i18n="team_LB_name" class="name">Lubov Bruk</p>
    <p data-i18n="team_LB_position" class="caption">PR manager</p>
    <div class="link_block">
        <a target="_blank" class="primary_link" href="https://www.linkedin.com/in/%D0%BB%D1%8E%D0%B1%D0%BE%D0%B2%D1%8C-%D0%B1%D1%80%D1%83%D0%BA-09934647/">Linkedin</a>
    </div>
    <p data-i18n="team_LB_about" id="team_text_8" class="body">
        Publiс relation specialist, developed and executed public relations campaigns in banking, automobile business, strat-ups. With over 5 years of experience in advertising and communications.
    </p>
    <div class="link_block">
        <p data-i18n="more" id="team_text_open_8" class="secondary_link" data-team-text-open="8">more</p>
        <p data-i18n="close" id="team_text_close_8" class="secondary_link disnone" data-team-text-close="8">close</p>
    </div>
</div>