<div class="person_block">
    <div class="lines"></div>
    <div class="miheev"></div>
    <p data-i18n="team_SM_name" class="name">Sergey Miheev</p>
    <p data-i18n="team_SM_position" class="caption">System Administrator</p>
    <div class="link_block">
        <a target="_blank" class="primary_link" href="https://www.linkedin.com/in/sergey-mikheev-54168a62/">Linkedin</a>
    </div>
    <p data-i18n="team_SM_about" id="team_text_7" class="body">
        Sergey worked as a technical expert on the implementation and support of ERP and databases on large production sites.  He started working with crypto-currencies and blockchain in 2016. He has a unique ability to get into any technology very quickly. The brainy thinker, he spends his free time enjoying in the ancient GO game.
    </p>
    <div class="link_block">
        <p data-i18n="more" id="team_text_open_7" class="secondary_link" data-team-text-open="7">more</p>
        <p data-i18n="close" id="team_text_close_7" class="secondary_link disnone" data-team-text-close="7">close</p>
    </div>
</div>