<div class="person_block">
    <div class="lines"></div>
    <div class="ryabov"></div>
    <p data-i18n="team_SR_name" class="name">Sergey Ryabov</p>
    <p data-i18n="team_SR_position" class="caption">CEO</p>
    <div class="link_block">
        <a target="_blank" class="primary_link" href="https://www.linkedin.com/in/sergey-ryabov-20108765/">Linkedin</a>
    </div>
    <p data-i18n="team_SR_about" id="team_text_1" class="body">
        Entrepreneur and people oriented professional. Sergey has over 17 years of proven experience in starting and growing businesses. Successful at marketing and building high-performance executive teams and leading sophisticated platforms and service organizations with market penetration. A strategic visionary with a clear sense of purpose and urgency when faced with diverse situational challenges during periods of both declining sales and rapid growth. Founded in 2012, MiiiX received the Startup Award of the Year 2013 in Russia. In 2017 the project was integrated with SAP Hybris in order to help product matching in major global marketplaces and retailers. He loves discovering opportunities to improve the way things are done, then building products and services to make it happen. Always optimistic. Key interests: mixfight:)
    </p>
    <div class="link_block">
        <p data-i18n="more" id="team_text_open_1" class="secondary_link" data-team-text-open="1">more</p>
        <p data-i18n="close" id="team_text_close_1" class="secondary_link disnone" data-team-text-close="1">close</p>
    </div>
</div>