<div class="person_block">
    <div class="lines"></div>
    <div class="kirillov"></div>
    <div class="wave"></div>
    <p class="name">Kirillov Artem</p>
    <p class="caption">Blockchain Developer and Architect</p>
    <div class="link_block">
        <a target="_blank" class="primary_link" href="https://www.linkedin.com/in/artem-kirillov-72060855/">Linkedin</a>
    </div>
    <p id="team_text_10" class="body">
        Meet our cryptogenius Kirillov Artem. He stood at the roots of the Hitbtc exchange development and was famous as the Director runing production operations in the largest Russian mining pool. As the blockchain pioneer he took part in different financial services working with crypto-currencies. Since his first step in Crypto, Artem held positions from СТО/CIO to Chief in retail businesses, state companies, services sector, manufacturing and start-ups. By the way, his total experience in IT is over 15 years and he holds MBA degree from Bode Graduate School of Business!
    </p>
    <div class="link_block">
        <p id="team_text_open_10" class="secondary_link" data-team-text-open="10">more</p>
        <p id="team_text_close_10" class="secondary_link disnone" data-team-text-close="10">close</p>
    </div>
</div>