<div class="person_block">
    <div class="lines"></div>
    <div class="mengeshev"></div>
    <p class="name">Vitaliy Mengeshev</p>
    <p class="caption">COO</p>
    <div class="link_block">
        <a target="_blank" class="primary_link" href="https://www.linkedin.com/in/vitalii-mengeshev-aba47a14b">Linkedin</a>
    </div>
    <p id="team_text_3" class="body">
        Executive Director and Partner in Miiix (Elementh) project. Highly skilled, solution-driven ecommerce catalyst with over 15 years of extensive experience in business development, client relationship management, strategy, revenue optimization, project planning, management and training, conflict resolution and innovation. He is one of the best-known lecturers in IdealMachine and Skolkovo startup acceleration programs. Always looking to the future. Excited by new technology. Current key interests: bouldering, snowboard, wakeboard.
    </p>
    <div class="link_block">
        <p id="team_text_open_3" class="secondary_link" data-team-text-open="3">more</p>
        <p id="team_text_close_3" class="secondary_link disnone" data-team-text-close="3">close</p>
    </div>
</div>