<div class="person_block">
    <div class="lines"></div>
    <div class="kholodnykh"></div>
    <p class="name">Alexander Kholodnykh</p>
    <p class="caption">Backend Developer</p>
    <div class="link_block">
        <a target="_blank" class="primary_link" href="https://www.linkedin.com/in/ni-moc-nideknil-www">Linkedin</a>
    </div>
    <p id="team_text_9" class="body">
        Alexander has 9 years of commercial development background. Specialising in web crawling, processes automation, server tasks solving, as a member of the team he is responsible for searching spider development and finding information about goods and prices.
    </p>
    <div class="link_block">
        <p id="team_text_open_9" class="secondary_link" data-team-text-open="9">more</p>
        <p id="team_text_close_9" class="secondary_link disnone" data-team-text-close="9">close</p>
    </div>
</div>