<div class="person_block">
    <div class="lines"></div>
    <div class="vasilev"></div>
    <p class="name">Aleksandr Vasilev</p>
    <p class="caption">Data Scientist</p>
    <div class="link_block">
        <a target="_blank" class="primary_link" href="https://www.linkedin.com/in/aleksandr-vasilev-4bab3425/">Linkedin</a>
    </div>
    <p id="team_text_4" class="body">
        Aleksandr is passionate about solving problems with data. He has impressive experience in developing systems for predictive analytics and data analysis. His outstanding solutions are implemented in such areas as insurance, banking and e-commerce. Aleksandr knows everything about the latest world best practices in the field of machine learning and artificial intelligence, this is the secret of his fantastic job at matching products from various data sources. Power team builder and master collaborator.
    </p>
    <div class="link_block">
        <p id="team_text_open_4" class="secondary_link" data-team-text-open="4">more</p>
        <p id="team_text_close_4" class="secondary_link disnone" data-team-text-close="4">close</p>
    </div>
</div>
<div class="lines"></div>