<div class="person_block">
    <div class="lines"></div>
    <div class="prigornitskiy"></div>
    <p data-i18n="team_EP_name" class="name">Eugene Prigornitskiy</p>
    <p data-i18n="team_EP_position" class="caption">Go Developer</p>
    <div class="link_block">
        <a target="_blank" class="primary_link" href="https://www.linkedin.com/in/evgeniy-prigornitskiy-67566077">Linkedin</a>
    </div>
    <p data-i18n="team_EP_about" id="team_text_6" class="body">
        He spent 10 happy years working in commercial development. Eugene participated in the development of payment systems, ERP and mobile applications (iOS, Android, Windows Phone). He also has extensive experience in building highly loaded real-time systems and database development. A longtime fan of winter sport, perfect snowboarder and skate lover.
    </p>
    <div class="link_block">
        <p data-i18n="more" id="team_text_open_6" class="secondary_link" data-team-text-open="6">more</p>
        <p data-i18n="close" id="team_text_close_6" class="secondary_link disnone" data-team-text-close="6">close</p>
    </div>
</div>