<div class="person_block">
    <div class="lines"></div>
    <div class="gashitsky"></div>
    <p class="name">Peter Gashitsky</p>
    <p class="caption">UX/UI Designer</p>
    <div class="link_block">
        <a target="_blank" class="primary_link" href="https://www.linkedin.com/in/peter-gashitsky-b08553157/">Linkedin</a>
    </div>
    <p id="team_text_8" class="body">
        Peter is a man of art: experienced web and graphic designer, talented illustrator. His statement is «clean projects, clean design». Talks a lot and draws a lot. Prefers coffee. On his free time, he engaged in designing yachts and illustrating beer labels.
    </p>
    <div class="link_block">
        <p id="team_text_open_8" class="secondary_link" data-team-text-open="8">more</p>
        <p id="team_text_close_8" class="secondary_link disnone" data-team-text-close="8">close</p>
    </div>
</div>