<div class="person_block">
    <div class="lines"></div>
    <div class="morozov"></div>
    <p data-i18n="team_SM2_name" class="name">Sergey Morozov</p>
    <p data-i18n="team_SM2_position" class="caption">Go Developer</p>
    <div class="link_block">
        <a target="_blank" class="primary_link" href="https://www.linkedin.com/in/sergey-morozov-aba83b80/">Linkedin</a>
    </div>
    <p data-i18n="team_SM2_about" id="team_text_5" class="body">
        He is real geek of blockchain technology! System architect and database administrator of various types, skilled professional in building highly loaded systems. His career in development started 10 years ago. During this time he was involved in the development of a large number of systems for data processing: from systems for the work of copywriters to financial accounting systems. Sergey was one of the leading developers of SAAS service, which audience exceeds millions of users!
    </p>
    <div class="link_block">
        <p data-i18n="more" id="team_text_open_5" class="secondary_link" data-team-text-open="5">more</p>
        <p data-i18n="close" id="team_text_close_5" class="secondary_link disnone" data-team-text-close="5">close</p>
    </div>
</div>
<div class="lines"></div>