<div class="userblock">
    <ul class="userblockU disnone">
        <li><a class="primary_link" href="/signin" data-i18n="Sign in">Sign in</a></li>
        <li><a class="primary_link" href="/signup" data-i18n="Sign up">Sign up</a></li>
    </ul>
    <ul class="userblockR disnone">
        <li><a class="primary_link" href="/profile" data-i18n="Profile">Profile</a></li>
        <li><span class="primary_link" id="logout_link" data-i18n="Log out">Log out</span></li>
    </ul>
    <li class="devider"></li>
</div>