<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Elementh MVP</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/4.0.0/cosmo/bootstrap.min.css" />
</head>
<body>

<div id="authtrue" style="display: none">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Elementh MVP</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a id="aSearch" class="nav-link" href="#">Search<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a id="aUploadPrice" class="nav-link" href="#">Upload price</a>
            </li>
            <li class="nav-item">
                <a target="_blank" class="nav-link" href="https://api.miiix.org/?token=testToken">API</a>
            </li>
        </ul>

    </div>
</nav>

<div class="container" id="searchContainer">
    <h1 class="mt-5">Search</h1>
    <div class="row my-5">
        <div class="col-lg-12">
            <form id="form-search">
                <div id="tab-additional-search">
                    <div class="card card-body">

                        <ul class="nav nav-tabs">
                            <li class="nav-item">
                                <a class="nav-link active show" data-toggle="tab" href="#wheels" onclick="$('#search-type').val('wheels')">Wheels</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" data-toggle="tab" href="#tires" onclick="$('#search-type').val('tires')">Tires</a>
                            </li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="wheels">
                                <div class="form-row py-3">
                                    <div class="col-auto">
                                        <input type="text" class="form-control" placeholder="brand" name="wheels-brand">
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control" placeholder="model" name="wheels-model">
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control" placeholder="width" name="wheels-width">
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control" placeholder="radius" name="wheels-radius">
                                    </div>
                                    <div class="col-auto">
                                        <input type="text" class="form-control" placeholder="dia" name="wheels-dia">
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tires">
                                <div class="form-row py-3">
                                    <div class="col-2">
                                        <input type="text" class="form-control" placeholder="brand" name="tires-brand">
                                    </div>
                                    <div class="col-2">
                                        <input type="text" class="form-control" placeholder="model" name="tires-model">
                                    </div>
                                    <div class="col-2">
                                        <input type="text" class="form-control" placeholder="width" name="tires-width">
                                    </div>
                                    <div class="col-2">
                                        <input type="text" class="form-control" placeholder="height" name="tires-height">
                                    </div>
                                    <div class="col-2">
                                        <input type="text" class="form-control" placeholder="radius" name="tires-radius">
                                    </div>
                                    <div class="col-2">
                                        <select name="tires-season" class="form-control">
                                            <option selected value="">Season</option>
                                            <option value="summer">Summer</option>
                                            <option value="winter">Winter</option>
                                            <option value="all">All seasons</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <button class="btn btn-secondary float-right" id="search-button" type="submit">Search</button>
                        </div>
                    </div>
                </div>
                <input type="hidden" name="search-type" value="wheels" id="search-type"/>
            </form>
        </div>

    </div>

    <div id="product-list">

    </div>

    <div class="row my-5">
        <div class="col-lg-12">
            <p><a href="https://elementh.io">Elementh 2018</a></p>
        </div>
    </div>
</div>

<div class="container" id="uploadFileContainer" style="display: none">
    <h1>Upload price</h1>
    <div class="row my-5">
        <div class="col-lg-12">
            <form id="form-upload" enctype="multipart/form-data">
                <div class="form-row">
                    <div class="form-group col-12">
                        <label for="name">Your name</label>
                        <input id="name" class="form-control" type="text" name="name" placeholder="John Doe" required>
                    </div>
                    <div class="form-group col-12">
                        <label for="email">Your email</label>
                        <input id="email" class="form-control" type="email" name="email" placeholder="johndoe@example.com" required>
                    </div>
                    <div class="form-group col-12">
                        <label for="doc">Your price</label>
                        <input id="doc" class="form-control" type="file" name="doc" required>
                    </div>
                    <div class="form-group col-1">
                        <button class="btn btn-primary mb-2 btn-sm" id="upload-button" type="submit">Upload</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div class="row d-none" id="product-item-empty">
    <div class="col-lg-12">
        <div class="card mb-3">
            <h3 class="card-header product-name"></h3>
            <div class="card-body">
                <h5 class="card-title product-brand"></h5>
                <h6 class="card-subtitle text-muted"></h6>
            </div>

            <div class="card-body">
                <div class="row">
                    <div class="col-sm-2">
                        <img class="product-image" style="width: 100%; display: block;" src="" alt="Card image">
                    </div>
                    <div class="col-sm-10">
                        <div class="row">
                            <div class="col-4">
                                <table class="table product-attributes">

                                </table>
                            </div>
                            <div class="col-8">
                                <table class="table product-offers">
                                    <tr>
                                        <th>Retailer</td>
                                        <th>Amount</th>
                                        <th>Price</th>
                                        <th></th>
                                    </tr>
                                    <tr>
                                        <td class="product-retailer-name"></td>
                                        <td class="product-amount"></td>
                                        <td class="product-price"></td>
                                        <td>
                                            <button type="button" class="btn btn-outline-primary btn-sm product-show-eesn">show serial number and history</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
            </div>
        </div>

    </div>

    <!-- Modal -->
</div>

<div class="modal fade eesn-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eesn-modal-label"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="accordion">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<div id="authfalse" style="display: none">
    <div class="container">
        <div class="panel text-center pt-5">
            You need to <a href="/signup?redirect=/mvp">register</a> / <a href="/signin?redirect=/mvp">login</a> first to get access to MVP
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha256-5+02zu5UULQkO7w1GIr6vftCgMfFdZcAHeDtFnKZsBs=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
<script src="js/mvp.js?v=201" defer></script>
<script src="js/api.js?v=201" defer></script>

<script>

  $().ready(function () {

    getInit(function (err, data) {
      if (data && data.profile) {
        $('#authtrue').show()
      } else {
        $('#authfalse').show()
      }
    })

    $('#aSearch').click(function (e) {
      e.preventDefault()
      $('#searchContainer').show()
      $('#uploadFileContainer').hide()
    })

    $('#aUploadPrice').click(function (e) {
      e.preventDefault()
      $('#searchContainer').hide()
      $('#uploadFileContainer').show()
    })

    $('#form-upload').submit(function (e) {
      var formData = new FormData((this))
      e.preventDefault();
      $.ajax({
        url: 'https://apimvp.elementh.io/upload',
        type: 'POST',
        data: formData,
        contentType: false,
        processData: false
      })
      $('#uploadFileContainer').html('Your price was uploaded')
    })




  })

</script>
</body>
</html>
