---
layout: default
---

{% include header.html %}

<div class="profile_page">
    <div id="verification" class="block disnone">
        <p class="title">We've sent you a verification email, please, check your email address.</p>
        <form id="resend_form">
            <div class="error disnone"></div>
            <div class="allok disnone">Check your email and follow the instructions!</div>
            <button class="primary_btn" type="submit" form="resend_form">
                Send email again
            </button>
        </form>
    </div>
    <div id="addemail_div" class="block disnone">
        <form id="user_email_edit_form">
            <input id="email_input" form="user_email_edit_form" name="email" type="text" value="" placeholder="johndoe@site.com">
            <div class="error disnone"></div>
            <div class="allok disnone">Check your email and follow the instructions</div>
            <button class="primary_btn" type="submit" form="resend_form">
                Save email
            </button>
        </form>
    </div>
    <div id="profile_tabs" class="disnone">
        <ul class="tabs">
            <li id="tabs_list_profile" class="active">PROFILE</li>
            <li id="tabs_list_contribute">ICO</li>
            <li id="tabs_list_bounty">BOUNTY</li>
            <li id="tabs_list_airdrop">AIRDROP</li>
            <li id="tabs_list_referral">REFERRAL</li>
        </ul>
        {% include tabs_container_profile.html %}
        {% include tabs_container_contribute.html %}
        {% include tabs_container_bounty.html %}
        {% include tabs_container_airdrop.html %}
        {% include tabs_container_referral.html %}
        {% include social_link.html %}
    </div>
    <div id="emailVerified" class="modal disnone">
        <div class="message">
            <div class="title">Your email is verified!</div>
            <a class="primary_btn" href="profile">OK</a>
        </div>
    </div>
</div>